<nav class="navbar navbar-expand-md navbar-light sticky-top" >
  <div class="container">
    <a class="navbar-brand p-2 rounded-3 " href="{% url 'home_view' %}"><i class='bx bxl-periscope'></i> Portfolio</a>
    <button
      class="navbar-toggler d-lg-none btn btn-sm"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link " href="#home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#services">Services</a>
        </li>                
        <li class="nav-item">
          <a class="nav-link " href="#projects">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
